.fs-table {
    table-layout: fixed;
    width: 1000px;
    overflow-y: hidden;
    thead {
        border: 1px solid red;
        th {
            padding: 10px;
            border: 1px solid red;
            mix-width: 300px;
        }
    }
    tbody {
        border: 1px solid black;
        td {
            border: 1px solid red;
            padding: 10px;
            // @include text-nowrap();
        }
    }
    tfoot {
        border: 1px solid red;
        padding: 10px;
    }
}