<html>

<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="stylesheets\main.css">-->
    <link rel="stylesheet" type="text/css" href="framework\bootstrap.min.css">
    <script type="text/javascript" src="framework/jquery.1.11.1.min.js"></script>
    <script type="text/javascript" src="framework/bootstrap.min.js"></script>
    <script type="text/javascript" src="framework/vue.js"></script>
    <script type="text/javascript" src="framework/vue-resource"></script>


    <!--<script type="text/javascript" src="framework/vue.min.js"></script>-->

    <script src="javascripts/app.js"></script>
    <script src="framework/PhoneLazyload.min.js"></script>

    <title>vuejs</title>
    <style>
        .completed {
            color: chartreuse;
            text-decoration: line-through;
        }
        
        canvas {
            width: 100px;
            min-height: 100px;
            background: #fff url("images/01.gif") center center;
            /*background-size: 100%;*/
        }
    </style>
</head>

<body>
    <div class="container">
        <h2 class="text-center page-header">表单事件</h2>
        <!--直接渲染出来-->
        <fs-form :my-data='myData'></fs-form>
        <fs-tables :my-data='myData'></fs-tables>

        <!--弹出框 data-dismiss="modal"  关闭 -->
        <!--背景色-->
        <div class="modal fade" tabindex="-1" role="dialog" id="layer">
            <div class="modal-dialog" role="document">
                <!--弹出框的内容-->
                <div class="modal-content">
                    <!--头部-->
                    <div class="modal-header">
                        <!--关闭按钮-->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <!--标题-->
                        <h4 class="modal-title">确定删除吗？</h4>
                    </div>
                    <!--内容-->
                    <div class="modal-body">
                        <p>One fine body&hellip;</p>
                    </div>
                    <!--确定取消按钮-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="deleteMsg(tabindex)" data-dismiss="modal">Save </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!--弹出框-->
    </div>

</body>
<script type="text/x-template" id="fsForm">
    <form action="" role="form">
        <div class="form-group">
            <label for="username">名字</label>：
            <input type="text" id="username" v-model="username" class="form-control">
        </div>
        <div class="form-group">
            <label for="sex">性别</label>：
            <input type="text" id="sex" v-model="sex" class="form-control">
        </div>
        <div class="form-group">
            <label for="age">年龄</label>：
            <input type="text" id="age" v-model="age" class="form-control">
        </div>
        <div class="form-group">

            <input type="text" v-on:click="add()" class="btn btn-success btn-sm " value="确定">
            <input type="text" class="btn btn-info btn-sm " value="重置">
        </div>
    </form>
</script>

<script type="text/x-template" id="fsTables">
    <table class="table text-center">
        <caption>信息表</caption>
        <tr>
            <th class="text-center">编号{{tablesDate}}</th>
            <th class="text-center">名字</th>
            <th class="text-center">岁数</th>
            <th class="text-center">性别</th>
            <th class="text-center">操作</th>
        </tr>
        <tbody>
            <tr v-for="(item,index) in myData">
                <td>{{index}}</td>
                <td v-bind:class='{ "completed":styles.completed}'>{{item.name}}</td>
                <td>{{item.age}}</td>
                <td>{{item.sex}}</td>
                <td><button type="button" class="btn btn-danger btn-sm" data-toggle='modal' data-target='#layer' v-on:click="tabindex=index">删除</button>
                    <!--改变按钮-->
                    <button class="btn btn-success btn-sm " type="button" v-bind:class='[ styles.completed? "btn-danger":"btn-success"]' v-on:click="tooggleComletion(styles)">{{styles.completed? '取消':'发送'}}</button>
                    <!--改变按钮-->
                </td>
            </tr>
            <tr v-show="myData.length!=0">
                <td colspan="5">
                    <button type="button" v-on:click class="btn btn-danger" data-toggle='modal' data-target='#layer'>删除全部</button>
                </td>
            </tr>
            <tr v-show="myData.length==0">
                <td colspan="5" class="text-muted text-center">
                    <p>没有任何数据....</p>
                </td>
            </tr>
        </tbody>
    </table>

</script>

<script>
    // 定义vue组件， 标签名字，页面输出标签名字就可以了。
    Vue.component('fs-form', {
        // 模板,可以直接写标签，可以用 script里面的内容id 就可以使用里面的元素
        template: '#fsForm',
        // 属性
        props: ['myData'],
        data() {
            return {
                username: '',
                sex: '',
                age: '',
            }
        },
        methods: { //事件操作
            add() {
                if (this.username === "") {
                    alert('不能为空');
                } else {
                    this.myData.push({
                        name: this.username,
                        age: this.age,
                        sex: this.sex
                    });
                    this.username = '';
                    this.age = '';
                    this.sex = '';
                }
            },

        }
    })
    Vue.component('fs-tables', {
        template: '#fsTables',
        props: ['myData'],
        data() {
            return {
                styles: {
                    "completed": false
                },
                tabindex: -100, //弹窗删除的属性赋值
            }
        },
        computed: { //页面展示数据直接处理数据放出来
            tablesDate: function() {
                return this.myData.length;
            }
        },
        methods: { //事件操作
            tooggleComletion: function(styles) { //改变按钮
                styles.completed = !styles.completed;

            },

        }
    })
    new Vue({
        el: '.container', //id 在这个盒子里面才能操作下面的东西
        data: { //数据
            myData: [{
                "name": "空空",
                "sex": "boy",
                "age": "13"
            }, {
                "name": "夜夜",
                "sex": "boy",
                "age": "14"
            }],
            styles: {
                "completed": false
            },
            username: '',
            sex: '',
            age: '',
            tabindex: -100, //弹窗删除的属性赋值
        },
        computed: { //页面展示数据直接处理数据放出来

        },
        methods: { //事件操作
            deleteMsg: function(index) {
                // console.log(this.tabindex)
                this.myData.splice(index, 1);
            },

        }
    })

    /*
     *找到canvas 有的话进行遍历，获取src 然后创建个newimg 
     */
    // var imglength = $('#canbox').find("canvas").length;
    // if (imglength > 0) {
    //     $('#canbox').find("canvas").each(function() {
    //         var imgSrc = $(this).data("src");
    //         var imgObj = new Image();
    //         imgObj.canvas = $(this)[0];
    //         var cvs = imgObj.canvas.getContext('2d');
    //         console.log(cvs)
    //         if (cvs) {
    //             imgObj.onload = function() {
    //                 imgObj.canvas.width = this.width;
    //                 imgObj.canvas.height = this.height;
    //                 cvs.drawImage(this, 0, 0);
    //                 $(imgObj.canvas).css("background-image", "none");
    //             }
    //             console.log(imgObj)
    //             console.log(imgObj.src)
    //             imgObj.src = imgSrc;
    //         }
    //     })
    // }
</script>

</html>